@model IEnumerable<Kladionica.Models.Pair>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Par</th>
            <th scope="col">Pocetak</th>
            <th scope="col">Izbor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pair in Model)
        {
            <tr id="@pair.PairId" data-info="@pair.Category.Name">
                <td>
                    @pair.PairId
                </td>
                <td>
                    @pair.FullPair
                </td>
                <td>
                    @pair.StartDate.ToString("dd/MM/yyyy hh:mm")
                </td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button type="button" class="btn btn-outline-danger" id="btnAdd" value="1" data-toggle="tooltip" data-placement="left" title="@pair.Type1">
                            1
                        </button>
                        <button type="button" class="btn btn-outline-danger" id="btnAdd" value="2" data-toggle="tooltip" data-placement="top" title="@pair.Type2">
                            2
                        </button>
                        @if (pair.Typex != 0m)
                        {
                            <button type="button" class="btn btn-outline-danger" id="btnAdd" value="x" data-toggle="tooltip" data-placement="right" title="@pair.Typex">
                                x
                            </button>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

