@model IEnumerable<Kladionica.Models.Transaction>
@{
    ViewBag.Title = "Transakcije";
}

<div id="transaction-list">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <td>
                    <h5> Raspoloživi iznos:  @ViewBag.Amount KN</h5>
                </td>
                <td>
                    <strong>Uplati iznos:</strong>
                    <input type="number" id="depositAmount" step="0.01" min="0" placeholder="KN" />
                    <input class="btn btn-success" type="button" id="btnDeposit" value="Uplati" />
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var trans in Model)
            {
                if (trans.Amount < 0)
                {
                    <tr class="table-danger">
                        <td>
                            #@trans.TransactionId
                        </td>
                        <td>
                            @trans.Amount
                        </td>
                        <td>
                            @trans.Date.ToString("dd/MM/yyyy hh:mm")
                        </td>
                    </tr>
                }
                else if (trans.Amount > 0)
                {
                    <tr class="table-success">
                        <td>
                            #@trans.TransactionId
                        </td>
                        <td>
                            <strong>@trans.Amount</strong>
                        </td>
                        <td>
                            @trans.Date.ToString("dd/MM/yyyy hh:mm")
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript" src="/Scripts/TransactionList.js"></script>
}

