@model IEnumerable<Kladionica.Models.Ticket>
@{
    ViewBag.Title = "Listići";
}

<div id="accordion">
    @foreach (var ticket in Model)
    {
        var cardId = "heading" + ticket.TicketId;
        var collapseId = "collapse" + ticket.TicketId;
        <div class="card">
            <div class="card-header" id="@cardId">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                        Listić #@ticket.TicketId - @ticket.Date.ToString("dd/MM/yyyy hh:mm")
                    </button>
                </h5>
            </div>

            <div id="@collapseId" class="collapse" aria-labelledby="@cardId" data-parent="#accordion">
                <div class="ticket-body">
                    <table id="ticketTbl" class="table table-hover">

                        <tbody>
                            @foreach (var pair in ticket.TicketPairs)
                            {
                                <tr>
                                    <td>
                                        @pair.PairId
                                    </td>
                                    <td>
                                        @pair.Pair.FullPair
                                    </td>
                                    <td>
                                        @pair.Type - @($"{pair.Pair.GetTypeQuota(pair.Type):f2}")
                                    </td>
                                    <td>
                                        @pair.Pair.StartDate
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>
                                    <strong>Ulog:</strong>
                                </td>
                                <td>
                                    <p style="color:red">@($"{ticket.BetAmount:c}")</p>
                                </td>
                                <td>
                                    <p>Kvota:</p>
                                </td>
                                <td>
                                    <strong>@($"{ticket.GetTotalQuota():f2}")</strong>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Dobitak:</strong>
                                </td>
                                <td>
                                    <p style="color:green">@($"{ticket.BetAmount * ticket.GetTotalQuota():c}")</p>
                                </td>
                                <td>
                                    @if (ticket.BonusQuota5)
                                    {
                                        <p style="color:green">Bonus 3 para iz kategorije</p>
                                    }
                                    else if (!ticket.BonusQuota5)
                                    {
                                        <p style="color:red">Bonus 3 para iz kategorije</p>
                                    }

                                </td>
                                <td>
                                    @if (ticket.BonusQuota10)
                                    {
                                        <p style="color:green">Bonus svi sportovi</p>
                                    }
                                    else if (!ticket.BonusQuota10)
                                    {
                                        <p style="color:red">Bonus svi sportovi</p>
                                    }
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    }

</div>